
 *{
     padding: 5px;
 }
 
 #Supercode-hilft{
    display: grid;
    grid-template-columns: 60% auto;
    height: 100vh;
    background: rgba(0, 222, 172);
  }
 
  .main {
    display: flex;
    font-weight: 100;
  }
  .main p{
    font-size: 0.9rem;
  }
  .text {
    display: flex;
    align-items: center;
    justify-content:space-evenly
  }
  .text1 {
    width: 35%;
    color: #5234f9;
  }
  .text2 {
   width: 40%;
    color: white;
  }
  .text2 p{
    padding-bottom: 5vh;
  }
  #Supercode-hilft img {
    height: 100%;
    width: 100%;
  }
 
  #Supercode-hilft h1{
      font-size: 3rem;
  }
  .text2 button:first-of-type{
    margin-right: 2vh;
  }
  .ls{
    font-size: 0.8rem;
  }